function JuegoCuadrado.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 40
push constant 100
push constant 40
push constant 5
call Cuadrado.new 4
pop this 0
push constant 460
push constant 120
push constant 40
push constant 8
call Cuadrado.new 4
pop this 1
push pointer 0
return
function JuegoCuadrado.dispose 0
push argument 0
pop pointer 0
call cuadrado.dispose 0
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function JuegoCuadrado.moverCuadrado 2
push argument 0
pop pointer 0
push this 0
push this 1
call Cuadrado.revisarChoque 2
pop local 0
push this 1
push this 0
call Cuadrado.revisarChoque 2
pop local 1
push local 0
push local 1
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Cuadrado.colision 1
pop temp 0
push this 1
call Cuadrado.colision 1
pop temp 0
label IF_FALSE0
push this 0
call Cuadrado.mover 1
pop temp 0
push this 1
call Cuadrado.mover 1
pop temp 0
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function JuegoCuadrado.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
push pointer 0
call JuegoCuadrado.moverCuadrado 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
