function raiz.mult 2 // dos parametros
    push constant 0
    pop local 0 // suma = 0
    push argument 1 // x * y
    pop local 1

label loop

    push constant 0
    push local 1
    eq
    if-goto end

    push local 0
    push argument 0
    add
    pop local 0

    
    push local 1
    push constant 1
    sub
    pop local 1 // j -= 1
    
    goto loop

label end
    push local 0
    return

function raiz.root 1
    push constant 0
    pop local 0

    push constant 0
    push argument 0
    eq
    if-goto raiz_zero

label loop

    push local 0
    push constant 1
    add
    push local 0
    push constant 1
    add
    call raiz.mult 2
    push argument 0
    gt 
    if-goto end_raiz
    push local 0
    push constant 1
    add
    pop local 0
    goto loop

label end_raiz
    push local 0
    return

label raiz_zero
    push constant 0
    return


push constant 9
call raiz.root 1
pop temp 0
