function Vaquero.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 3
pop this 2
push argument 2
pop this 3
push pointer 0
call Vaquero.dibujar 1
pop temp 0
push pointer 0
return
function Vaquero.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Vaquero.dibujar 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Vaquero.borrar 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Vaquero.ampliar 0
push argument 0
pop pointer 0
push this 1
push this 3
add
push constant 254
lt
push this 0
push this 3
add
push constant 510
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Vaquero.borrar 1
pop temp 0
push this 3
push constant 2
add
pop this 3
push pointer 0
call Vaquero.dibujar 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Vaquero.reducir 0
push argument 0
pop pointer 0
push this 3
push constant 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Vaquero.borrar 1
pop temp 0
push this 3
push constant 2
sub
pop this 3
push pointer 0
call Vaquero.dibujar 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Vaquero.moverArriba 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 3
add
push constant 1
sub
push this 0
push this 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
sub
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 3
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Vaquero.moverAbajo 0
push argument 0
pop pointer 0
push this 1
push this 3
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 3
add
push this 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push this 1
push constant 2
add
pop this 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 3
add
push constant 1
sub
push this 0
push this 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Vaquero.moverIzq 0
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 3
add
push constant 1
sub
push this 1
push this 0
push this 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
sub
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Vaquero.moverDer 0
push argument 0
pop pointer 0
push this 0
push this 3
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 1
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
add
pop this 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 3
add
push constant 1
sub
push this 1
push this 0
push this 3
add
push this 1
push this 3
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Vaquero.disparoArriba 0
push argument 0
pop pointer 0
push this 0
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push this 1
push constant 12
sub
push constant 10
push constant 1
call Bala.new 4
return
function Vaquero.disparoAbajo 0
push argument 0
pop pointer 0
push this 0
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push this 1
push this 3
add
push constant 2
add
push constant 10
push constant 2
call Bala.new 4
return
function Vaquero.disparoDerecha 0
push argument 0
pop pointer 0
push this 0
push this 3
add
push constant 2
add
push this 1
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push constant 10
push constant 3
call Bala.new 4
return
function Vaquero.disparoIzquierda 0
push argument 0
pop pointer 0
push this 0
push constant 12
sub
push this 1
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push constant 10
push constant 4
call Bala.new 4
return
function Vaquero.disparoDerechaArriba 0
push argument 0
pop pointer 0
push this 0
push this 3
add
push constant 2
add
push this 1
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push constant 10
push constant 5
call Bala.new 4
return
function Vaquero.disparoIzquierdaArriba 0
push argument 0
pop pointer 0
push this 0
push constant 12
sub
push this 1
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push constant 10
push constant 6
call Bala.new 4
return
function Vaquero.disparoDerechaAbajo 0
push argument 0
pop pointer 0
push this 0
push this 3
add
push constant 2
add
push this 1
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push constant 10
push constant 7
call Bala.new 4
return
function Vaquero.disparoIzquierdaAbajo 0
push argument 0
pop pointer 0
push this 0
push constant 12
sub
push this 1
push this 3
push constant 2
call Math.divide 2
add
push constant 10
sub
push constant 10
push constant 8
call Bala.new 4
return
function Vaquero.getX 0
push argument 0
pop pointer 0
push this 0
return
function Vaquero.getY 0
push argument 0
pop pointer 0
push this 1
return
